body{
margin:0;
font-family:'Poppins',sans-serif;
background:#0b0c10;
color:white;
}

.hero{
text-align:center;
padding:90px 20px;
background:linear-gradient(135deg,#1f2833,#0b0c10);
}

.hero h1{font-size:50px;color:#66fcf1;}
.hero h2{height:40px;}

.buttons a{
margin:10px;
padding:12px 28px;
background:#66fcf1;
color:black;
text-decoration:none;
border-radius:30px;
font-weight:600;
}

.about,.skills,.projects,.experience,.contact{
padding:70px 10%;
}

.grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
gap:20px;
}

.grid div,.card{
background:#1f2833;
padding:25px;
border-radius:15px;
box-shadow:0 0 15px rgba(102,252,241,0.4);
transition:0.3s;
}

.card:hover{transform:scale(1.05);}

.card a{
color:#66fcf1;
text-decoration:none;
}
